h1 {
    text-align: center;
}

.text {	
	position: absolute;
	font-size: 10em;
	font-weight: 700;
	font-style: italic;
	background-image: linear-gradient(to top, red, yellow);
	color: transparent;
	transform: rotate(-10deg);
	-webkit-background-clip: text;
	background-clip: text;
	z-index: 1;
	text-decoration: none; /* Remove default underline */
}
.text::before {
	content: attr(data-text);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	color:802500;
	z-index:-1;	
	text-shadow: 
		3px 3px 0 #802500, 
		6px 6px 0 #802500, 
		9px 9px 0 #802500, 
		12px 12px 0 #802500, 
		15px 15px 0 #802500;
)
